/* ---------- Global Variables ---------- */
:root { 
    /* Background Colors */
    --bg-color-1: 50, 55, 60;                                                                   /* Dark base color */
    --bg-color-2: 65, 71, 77;                                                                  /* Lighter secondary color */
    --bg-mid: calc((var(--bg-color-1) + var(--bg-color-2)) / 2);                              /* Midpoint value for single-color backgrounds */
    --bg-gradient: linear-gradient(120deg, rgb(var(--bg-color-1)), rgb(var(--bg-color-2)));  /* Angular gradient */
    
    /* Card Styling: background, border, and corner radius */
    --card-bg: rgba(145, 145, 145, 0.75);  /* Semi-transparent gray */
    --card-border: 2px solid black;       /* Solid black border */
    --card-radius: 17px;                 /* Rounded corners */
    
    /* Text Colors for headings */
    --h1-color: rgb(250, 250, 250);  
    --h2-color: rgb(240, 240, 240);
    --h3-color: rgb(200, 200, 200);
    --h4-color: rgb(190, 190, 190);
    --h5-color: rgb(175, 175, 175);
    /* Text Colors for links */
    --link-color: dodgerblue; 
    --link-hover-color: orchid;
    
    /* Font Sizes */
    --font-h1: 2em;
    --font-h2: 1.75em;
    --font-h3: 1.5em;
    --font-h4: 1.25em;
    --font-h5: 0.95em;
    --font-button: 16px;
    
    /* Spacing */
    --section-padding: 20px;
    --section-margin-vertical: 10px;
    --section-margin-horizontal: 0px; 
    --post-padding: 15px;
    --post-margin: 15px;
    --inline-padding: 10px 20px;      /* Buttons and inline elements */
    
    /* Buttons */
    --button-bg: rgba(170, 170, 170, 0.7);
    --button-bg-hover: rgba(155, 155, 155, 0.6);
    --button-bg-active: rgba(195, 195, 195, 0.75);
    --button-radius: 5px;
    --button-scale-hover: 1.05;                    /* Enlarge on hover */
    --button-scale-active: 0.95;                  /* Shrink on click */
    
    /* Underline */
    --underline-color: orangered;
    --underline-thickness: 3px;
    
    /* Image corners */
    --img-radius: 4px;
    
    /* Burger menu variables */
    --burger-bg: var(--button-bg);
    --burger-color: rgb(25, 25, 25);
    --burger-icons-color: var(--burger-color);
    --burger-diameter: 2.125em;        /* Size of the circular button */
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;         /* Distance of lines from top/bottom edges */
    
    /* Navigation panel styling */
    --nav-bg: rgb(230, 230, 230);
    --nav-text-color: rgba(25, 25, 25, 1);
    --nav-border-radius: 0.375em;
    --nav-button-hover-bg: rgb(100, 149, 237);
    --nav-button-hover-text-color: rgb(255, 255, 255);
}


/* ---------- Website Components ---------- */

/* Background pattern */
.background 
{
    overflow-y: auto;
    position: fixed;
    inset: 0;     /* shorthand for top/right/bottom/left = 0 */
    background: var(--bg-gradient);
    background-size: cover;
    z-index: -1;  /* Ensures that the background is behind all content */
}

/* Consistent padding around sections */
section {
    padding: var(--section-padding);
    margin: var(--section-margin-vertical) var(--section-margin-horizontal);
}

/* Header and title */
header {
    top: 0;
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 45px;
}

header h1 {
    color: var(--h1-color);
    font-size: var(--font-h1);
    margin: 0;
}

h2 {
    position: relative;
    width: 100%;
    text-align: center;
    
    padding: var(--section-padding) 0;
    color: var(--h2-color);
    font-size: var(--font-h2);
    
    margin: 0;
}

h3 {
    position: relative;
    width: 95%;
    text-align: center;
    padding: 7px 0 7px 2.5%;
    
    color: var(--h3-color);
    font-size: var(--font-h3);
    
    margin: 0;
    word-wrap: normal;
    overflow-wrap: anywhere;
}

h4 {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    
    color: var(--h4-color);
    font-size: var(--font-h4);
    
    margin: 0;
}

h5 {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    color: var(--h5-color);
    font-size: var(--font-h5);
    margin: 0;
}

/* Responsive post container */
@media (max-width: 1100px) {
    .post { max-width: 800px;}
}
.post 
{
    width: 100%;
    max-width: 1000px;
    text-align: left;
    padding: var(--post-padding);
    margin: var(--post-margin) auto;
}

/* Flex-based grid for images or cards */
.row {
    display: flex;
    
    align-items: center;
    justify-content: center;
}  
/* (use 33.33% for three, 25% for four, 50% for two, etc...) */
.column {
    flex: 50%;
    padding: 25px 2px; /* Top/Bottom, Left,Right */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Underline */
.underline {
    text-decoration: underline;
    text-decoration-color: var(--underline-color);
    text-decoration-thickness: var(--underline-thickness);
}

/* Button base styling and interactions */
button {
    padding: var(--inline-padding);
    background-color: var(--button-bg);
    color: white;
    border: none;
    cursor: pointer;
    font-size: var(--font-button);
    border-radius: var(--button-radius);
    transition: transform 0.2s ease;
}
button:hover{
    background-color: var(--button-bg-hover);
    transform: scale(var(--button-scale-hover));
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
}
button:active{
    background-color: var(--button-bg-active);
    transform: scale(var(--button-scale-active));
}

.backButton {
    text-align: left; 
    margin-top: 2px; 
    margin-left: 4px; 
    position: fixed;
}

/* Shine effect*/
.btn-shine {
    text-align: center;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 17px;
    color: #fff;
    background: linear-gradient(to right, #86cecb 0%, #86cecb 10%, #e1e1e1 20%) 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 35px;
    text-decoration: none;
    white-space: nowrap;
    font-family: Arial, Open-Dyslexic, Verdana, Helvetica, monospace;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 180px;
    }
    100% {
        background-position: 200px;
    }
}

/* Images */
img {
    max-width: 100%;
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
    
    align-items: center;
    justify-content: center;
    
    border-radius: var(--img-radius);
    padding-top: 15px;
    padding-bottom: 25px;
}

/* Video embed container maintaining aspect ratio */
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.video-container {
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
    
    max-width: 640px;
    max-height: 360px;
    
    padding: 16% 9%;
    /*aspect-ratio: 16 / 9;*/
    
    background: rgb(var(--bg-mid));
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Unordered List styling */
ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 25%;
    text-align: left;
}
ul li {
    /* match font size */
    font-size: var(--font-h3);
    /* match font color */
    color: var(--h3-color);
}

/* Social media icons*/
.example-2
{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 2.5%;
}
.example-2 .icon-content {
    position: relative;
    margin: 0 15px;
}
.example-2 .icon-content .tooltip {
    position: absolute;
    bottom: 115%;
    left: 20%;
    transform: translateX(-50%);
  background: currentColor; /* Matches icon color */
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    transition: all 0.42s ease;
}
.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -35px;
}
.example-2 .icon-content a {
    bottom: 2.5%;
    right: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.12);
    color: white;
}
.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgba(0, 0, 0, 0.12);
    color: white;
}
.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: currentColor;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip
{
    background-color: #ff0000;
}


/* Popup burger menu */
.popup {
    position: fixed;
    top: 10px;
    left: 10px;
    display: inline-block;
    text-rendering: optimizeLegibility;
    width: 5.5%;
    z-index: 1000;
    stroke: var(--burger-icons-color);
}
.popup input {
    display: none;
}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    background: var(--burger-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in-out;
}
.burger span {
    position: absolute;
    height: var(--burger-line-height);
    width: var(--burger-line-width);
    background: var(--burger-color);
    border-radius: 0.1875em;
    transition: transform 0.3s;
}
.burger span:nth-child(1) { 
    top: var(--burger-offset); 
}
.burger span:nth-child(2) { 
    bottom: var(--burger-offset); 
}
.burger span:nth-child(3) { 
    top: 50%; 
    transform: translateY(-50%); 
}
.burger:hover { 
    transform: scale(1.1); 
}
.burger:active { 
    transform: scale(0.95); 
}
.popup input:checked + .burger span:nth-child(1) { 
    top: 50%; 
    transform: translateY(-50%) rotate(45deg); 
}
.popup input:checked + .burger span:nth-child(2) { 
    bottom: 50%; 
    transform: translateY(50%) rotate(-45deg); 
}
.popup input:checked + .burger span:nth-child(3) { 
    transform: translateX(calc(-1 * var(--burger-diameter) - var(--burger-line-width))); 
}
.popup-window {
    position: absolute;
    top: calc(var(--burger-diameter) + 0.25em);
    left: 0;
    background: var(--nav-bg);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--h3-color);
    padding: 0.625em 0.25em;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.1s ease-in-out;
}
.popup input:checked ~ .popup-window { 
    visibility: visible; 
    opacity: 1; 
    transform: scale(1); }
.popup-window legend {
    font-size: 0.625em;
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    padding: 0.25em 3.25rem;
}
.popup-window ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    font-size: 0.7em; 
}
.popup-window ul button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0.375em 1rem;
    border-radius: 0.375em;
    cursor: pointer;
    gap: 0.875em;
    color: var(--burger-color);
    font-size: 10px;
}
.popup-window ul button:hover, .popup-window ul button:focus-visible {
    background: var(--nav-button-hover-bg);
    color: var(--nav-button-hover-text-color);
}
.popup-window hr {
    border: none;
    border-bottom: 0.0625em solid rgb(204, 204, 204);
    margin: 0.3125em 0;
}

/* Links */
a {
    text-decoration: none;
    font-weight: bold;
    color: var(--link-color); 
}
a:link { 
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover { 
color: var(--link-hover-color);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: darkorchid;
    background-color: transparent;
    text-decoration: underline;
}

/* Card component: container, hover and active states */
.card {
    box-sizing: border-box;  /* Include padding/border in width/height */
    width: 30%;
    height: 100px;
    background: var(--card-bg);
    border: var(--card-border);
    border-radius: var(--card-radius);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.42s;
  user-select: none;         /* Prevent text selection */
    font-weight: bolder;
    color: black;
    margin: 7px;
}

.card:hover {
    border: 2px solid lightgray;
    transform: scale(1.025); /* Growth */
    margin: 15px;
    
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
}

.card:active {
    transform: scale(0.93); /* Shrink */
    margin: 5px;            /* Adjust margin to compensate */
}

/* Quote Element */
.quote {
    background: dimgrey;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.97rem;
}
.dark-theme .quote { 
    background: black; 
}

/* Preformatted */
pre {
    background: rgb(42, 44, 42);
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    font-size: 0.95rem;
    overflow: auto;

    @media #{$media-size-phone} 
    {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .quote {
        background: none !important;
        color: rgb(225, 195, 195);
        margin: 0;
        padding: 0;
        font-size: inherit;

        .dark-theme & 
        {
            color: inherit;
        }
    }
}

/* Blockquote */
blockquote {
    border-left: 2px solid;
    margin: 10px 40px 40px 40px;
    padding: 10px 20px;

    @media #{$media-size-phone} {
        margin: 10px;
        padding: 10px;
    }

    &:before {
        content: '”';
        font-size: 3.875rem;
        position: absolute;
        left: -40px;
        top: -20px;
    }

    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}
/* end of quote */


/* Code Snippet Window */
.snippet {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

.Swindow {
    align-items: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
    
    position: relative;
    height: auto;
    width: auto;
    background: rgb(var(--bg-mid));
    border: 2px solid rgb(50, 50, 50);
    border-radius: 15px;
    overflow: hidden;
}

.Swindow-title {
    background: rgb(52, 52, 55);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.Swindow-title p {
    color: rgb(210, 200, 210);
    padding: 0;
    text-align: left;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}
.Sconsole {
    width: 100%;
    height: auto;
    background-color: rgb(52, 52, 55);
    color: rgb(255, 255, 255);
    overflow: auto;
}
.Sconsole pre {
    margin: 0;
    padding: 17px;
    font-size: 15px;
}
.Sconsole pre code {
    color: rgb(25, 245, 25);
    outline: none;
    font-size: 14px;
}


/* Accordion (Showcase Cards) */
.accordion {
    width: 80%;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 2px;
}

.accordion-item .content {
    font-size: var(--font-h3);
}

.accordion input[type="radio"] {
    display: none;
}

.accordion .content {
    height: 0px;
    padding: 0px;
    background-color: rgb(142, 152, 161);
    border-top: 2px solid orangered;
    overflow: hidden;
    transition: all 0.45s ease;
}
.accordion input[type="radio"]:checked + .accordion-header + .content {
    height: auto;
    padding: 20px;
}
.accordion-icon {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}
.accordion input[type="radio"]:checked + .accordion-header .accordion-icon {
    transform: rotate(180deg);
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(115, 126, 137);
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}
.accordion-header .accordion-title {
    font-size: var(--font-h2);
}


/* Dropdown Here */
/* Outer Container */
.outer-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
    position: relative;
}

/* Dropdown Container */
.dropdown-container {
    text-align: center;
    width: auto; /* width for the dropdown */
}

/* Dropdown Label (Clickable Button) */
.dropdown-label {
    display: block;
    background-color: rgb(142, 152, 161);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: var(--font-h4);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-label:hover {
    background-color: rgb(100, 110, 120);
}

/* Checkbox for Toggling */
.dropdown-checkbox {
    display: none;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none; /* Hidden by default */
    margin-top: 10px;
    border: 1px solid orangered;
    border-radius: 5px;
    background-color: rgb(142, 152, 162);
    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(42, 42, 42);
    border-bottom: 1px solid rgb(255, 69, 0);
}

.dropdown-menu a:last-child {
    border-bottom: none;
}

.dropdown-menu a:hover {
    background-color: rgb(105, 115, 125);
}

/* Show Menu When Checkbox is Checked */
.dropdown-checkbox:checked ~ .dropdown-menu {
    display: block;
}

/* Sidebar */
.sidebar {
    position: fixed;
    z-index: 900;
    top: 57px;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar h2 {
    margin-top: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
    text-decoration:underline 2px orangered;
}
.sidebar a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 4px 0;
    padding: 2px;
    border-radius: 4px;
    font-size: 16px;
}
.sidebar a:hover {
    background-color: rgb(162, 177, 189);
}
.sidebar a:target,
.sidebar a:focus,
.sidebar a.active {
    background-color: rgb(108, 118, 126);
    font-weight: bold;
}
.sidebar .content {
    background-color: rgb(210, 227, 252);
    font-weight: bold;
    color: rgb(25, 74, 167);
}
.sidebar .content h2 {
    padding-top: 50px;
    margin-top: -10px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.sidebar .sub-link {
    margin-left: 17px;
    font-size: 14px;
    color: rgb(200, 200, 200);
}



/* Project Showcase */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1000px;
    width: 100%;
    
    padding: 25px;        /* optional: adds spacing around */
    margin: 0 auto;       /* centers the container */
    justify-content: center; /* ensures even spacing if there's fewer cards */
}
.project-card {
    position: relative;
    background: var(--card-bg); 
    border-radius: 1rem;
    overflow: hidden;
    transition: transform 0.42s ease, box-shadow 0.42s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: 470px;
}
.project-card:hover {
    transform: scale(1.025);
    box-shadow: -4px 4px 10px rgba(0,0,0,0.15);
}
.project-top {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap; /* for mobile fallback */
}

#carousel-container {
    flex: 1;
    max-width: 100%;
    position: relative;
    height: 225px;
}

#carousel img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background: var(--bg-mid);
    
    border-radius: 1rem;
    display: none;
}

#carousel img.active {
    display: block;
}

.proj-desc-container {
    flex: 1;
    
    min-width: 225px;
    max-width: 450px;
}


.carousel {
    position: relative;
    overflow: hidden;
    --carHeight: 225px;
}

.carousel img {
    display: none;
    width: 95%;
    height: var(--carHeight);
    object-fit: contain;   /* or "cover" if you want to crop edges */
    background: rgb(var(--bg-mid));
    
    border-radius: 1rem;
}

.carousel img.active {
    display: block;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.65);
    color: var(--h1-color); 
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
}
.carousel .next {
    right: 10px;
}

.project-content {
    padding: var(--post-padding); 
}
.project-title {
    font-size: var(--font-h3); 
    color: var(--h1-color); 
    margin: 0;
}
.project-desc {
    font-size: var(--font-h4); 
    color: var(--h2-color); 
}

/* Showcase Link */
/* container for all badges */
.links-container {
    position: absolute;
    bottom: 25px;
    right: 15px;
    display: flex;
    gap: 8px;
}

/* individual badge (link or static) */
.link-badge {
    width: 28px;
    height: 28px;
    display: block;
}

.link-badge img {
    width: 100%;
    height: 100%;
    /*filter: grayscale(100%);*/
    opacity: 0.75;
    transition: opacity 0.2s;
}

.link-badge:hover img {
    opacity: 1;
}

/* Run Away !! */
#runaway-btn {
    justify-content: center;
    position: absolute;
    padding: var(--post-padding); 
    cursor: pointer;
    transition: top 0.25s ease, left 0.25s ease; /* smooth movement */
}
