<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Showcase</title>
    <link rel="icon" type="image/x-icon" href="../Images/icon.webp">
    <link rel="stylesheet" href="../Styles/MainStyle.css">
    <!-- Add script if there is a video in the post, else don't-->
    <script src="../Scripts/videoScript.js" defer></script>
    <script src="../Scripts/CommonLayout.js" defer></script>

    <!-- Meta Tags for SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Loris Moreau">
    <meta name="description" content="Template Page of my showcase website">
    <meta name="keywords" content="Showcase, Loris, Moreau, Loris Moreau, Programmer, Demoreel, coding adventure, Template">
</head>
<!-- There are no errors in Ba Sing Se -->
<body>

<!-- BG, Dropdown & Socials are outside the pages to be the same on every page -->



<!-- Page 1 (Main Menu) -->
<div id="TemplatePage" class="page">

    <header>
        <h1>HTML Template</h1>
    </header>

    <h3>Hoi,</h3>
    <h3>This is a template</h3>

    <!-- Spacing -->
    <p style="padding: 1px"></p>
    
    <!-- Fonts -->
    <h1>H1 Font</h1>
    <h2>H2 Font</h2>
    <h3>H3 Font</h3>
    <h4>H4 Font</h4>
    <h5>H5 Font</h5>
    
    <p style="padding: 5px"></p>
    
    <!-- Underline -->
    <h3 class="underline">Underline</h3> 
    <h3 class="underline" style="text-decoration-color: dodgerblue;">Diff Color Underline</h3>

    <p style="padding: 5px"></p>
    
    <!-- Cards -->
    <div id="Card" align="center">
        <a class="card" href="TemplatePage.html" style="background: rgba(145, 145, 145, 0.75)">
            <h3>Card to self</h3>
        </a>
    </div>
    
    <p style="padding: 5px"></p>

    <!-- Images -->

    <!-- base width is 25%, height is automatic so the image doesn't stretch -->
    <h3>Basic Image</h3>
    <img loading="lazy" src="Images/Refraction-Reflection.webp" alt="Test Image"/>

    <!-- different sized image -->
    <h3>Different sized image</h3>
    <img loading="lazy" src="Images/Refraction-Reflection.webp" style="width: 15%;" alt="Test Image"/>

    <!-- Img with source -->
    <img loading="lazy" src="Images/Refraction-Reflection.webp" alt="img with source" style="width: 65%; padding-bottom: 5px;" />
    <h5><a href="source link" target="_blank">img. Source</a></h5>


    <!-- Container for 3 images side by side -->
    <!-- (use 33.33% for three, 25% for four, and 50% for two, etc...) -->
    <h3>Images Side by side</h3>
    <div class="row" style="flex: 33.33%">
        <div class="column">
            <img loading="lazy" src="Images/Minto.webp" alt="Image 1" style="width: 50%"/>
        </div>
        <div class="column">
            <img loading="lazy" src="Images/JupiPipebomb.webp" alt="Image 2" style="width: 55%"/>
        </div>
        <div class="column">
            <img loading="lazy" src="Images/Tenma.webp" alt="Image 3" style="width: 100%"/>
        </div>
    </div>
    
    <p style="padding: 5px"></p>

    <!-- Video -->
    <h2>Video : </h2>
    <div class="video-wrapper">
        <div class="video-container">
            <iframe
                    src="https://www.youtube.com/embed/g4oDCv22zHA"
                    loading="lazy"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            ></iframe>
        </div>
    </div>

    <!-- Back to top Button -->
    <div style="text-align: center;">
        <a href="#">
            <button>
                Top
            </button>
        </a>
    </div>
    
</div>

<!-- Dropdown Menu -->
<label class="popup">
    <input type="checkbox">
    <div class="burger" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="popup-window">
        <legend></legend>
        <ul>
            <li>
                <!-- Main Page -->
                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 9.5L12 3l9 6.5v11a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5H9v5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"></path>
                </svg>

                <a href="index.html">Main</a>
            </li>
            <li>
                <!-- Blog Page -->
                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4h16v16H4z"></path>
                    <path d="M8 8h8"></path>
                    <path d="M8 12h6"></path>
                    <path d="M8 16h4"></path>
                </svg>

                <a href="Blog.html">Blog</a>
            </li>
            <li>
                <!-- External Resources -->
                <svg stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" viewBox="0 0 24 24" height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 7h5l2 3h11v9a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"></path>
                </svg>

                <a href="ExternalResources.html">Resources</a>
            </li>
        </ul>
    </nav>
</label>


</body>
</html>
