/*
EM: Relative to the parent element

REM: Relative to the root element (HTML tag)

%: Relative to the parent element

VW: Relative to the viewport’s width

VH: Relative to the viewport’s height
*/

@import "tailwindcss";
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
